@media (min-width: 390px){
    body{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    } 
    .bod{
        padding: 88px 25px 88px 15px;
    }
    .bodtop{
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #8A8A8E;
    }
    .balance{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .dollarsign{
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        margin: 0;
    }
    .acc-name{
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        margin: 7px;
        margin-left: auto;
        margin-right: auto;
    }
    .day-view{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }
    .receipt{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inline{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .product{
        margin: 0;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 16px; 
        padding-top: 5px;
    }
    .date{
        margin: 0;
        text-align: start;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #8A8A8E;
        padding-left: 10px;
    }
    .bullet{
        background-color: #900000;
        height: 6px;
        width: 6px;
        border-radius: 50%;
    }
}